body{
	font-size: 16px;
	color: #E2E2B6;
	background-color: #6EACDA;
	font-family: "Montserrat", sans-serif;
}
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1
{
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	font-size: 2.0em;
}

.navbar-brand h1, .navbar-brand h2{
	color: #E2E2B6;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#header-nav{
	background-color: #03346E;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background: url('../images/Logo image.png');
	width:128px;
	height:128px;
	margin: 10px 15px 10px 0;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #E2E2B6;
	text-align: center;
}

#nav-list a:hover {
	background: #021526;
}

#nav-list a span {
	font-size: 1.8em;
}
